@using OnlineTestForCheckingKnowledge.Presentation.ViewModels
@model ErrorViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Error"];
}

<h1 class="text-danger">@Localizer["Error"].</h1>
<h2 class="text-danger">@Localizer["AnErrorOccurred"].</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestID"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["DevelopmentMode"]</h3>
<p>
    @Localizer["SwappingToDevelopment"].
</p>
<p>
    <strong>@Localizer["DevelopmentEnvironmentWarning"]</strong>
    @Localizer["DevelopmentEnvironmentDetails"]
    @Localizer["LocalDebuggingInstruction"]
</p>