@{
    ViewData["Title"] = "Home Page";
}

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="text-center">
    <h1>@Localizer["Online test for cheking knowledge"]</h1>
    <p>@Localizer["Description"]</p>
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["LearnMore"] <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>

    <p>
        <a asp-controller="Test" asp-action="StartTest" asp-route-testId="1" class="btn btn-primary">@Localizer["StartTest"]</a>
    </p>
</div>