@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Home Page"];
}

<div class="text-center">
    <h1>@Localizer["Online test for cheking knowledge"]</h1>
    <p>@Localizer["Description"]</p>
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["LearnMore"] <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>

    <p>
        <form asp-controller="Test" asp-action="CreateTests" method="post">
            <button type="submit" class="btn btn-success">@Localizer["Create tests"]</button>
        </form>
    </p>

    <div id="accountButtons">
    </div>
</div>

<style>
    body {
        background-color: #3993AD;
        font-family: sans-serif;
    }
</style>

@section Scripts {
    <script>
        document.addEventListener('pageshow', function(event) {
            if (event.persisted) {
                console.log("@Localizer["Сторінка відновлена з кешу, викликаємо loadAccountInfo"]");
                loadAccountInfo();
            }
        });

        $(document).ready(function() {
            console.log("@Localizer["DOM готовий, викликаємо loadAccountInfo"]");
            loadAccountInfo();
        });

        function loadAccountInfo() {
            console.log("@Localizer["Викликано loadAccountInfo"]");
            fetch('/api/Account/AccountButtonsInfo')
                .then(response => response.json())
                .then(data => {
                    const accountButtonsContainer = document.getElementById('accountButtons');
                    accountButtonsContainer.innerHTML = ''; 

                    if (data.showPasswordButton) {
                        const passwordButton = document.createElement('button');
                        passwordButton.textContent = '@Localizer["Пароль"]';
                        passwordButton.classList.add('btn', 'btn-primary', 'mr-2'); 
                        accountButtonsContainer.appendChild(passwordButton);
                    }

                    if (data.showAccountButton) {
                        const accountButton = document.createElement('button');
                        accountButton.textContent = '@Localizer["Аккаунт"]';
                        accountButton.classList.add('btn', 'btn-secondary'); 
                        accountButtonsContainer.appendChild(accountButton);
                    }
                })
                .catch(error => {
                    console.error('@Localizer["Помилка отримання інформації про кнопки:"]', error);
                });
        }
    </script>
}